@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("/src/style/animation.css");

:root {
  --fs-1: 3.2rem;
  --fs-2: 2.4rem;
  --fs-3: 2rem;
  --fs-4: 1.8rem;
  --fs-5: 1.6rem;
  --fs-6: 1.4rem;
  --fs-7: 1.2rem;

  --main-orange: #f4c27f;
  --accent-orange: #d8605b;
  --accent-green: #0f4e52;
  --gray: rgba(0, 0, 0, 0.75);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.blur-filter {
  filter: blur(8px);
  transition: 0.2s all;
}

/* Reusable styles */

.btn {
  border: 0;
  border-radius: 50rem;
  font-family: "Poppins", sans-serif;
  background: transparent;
}

.btn_orange {
  padding: 0.5rem 2.4rem;
  background-color: var(--main-orange);
}

.btn_orange-borded {
  padding: 0.5rem 2.4rem;
  border: 1px solid var(--main-orange);
}

.btn_orange-gradient {
  position: relative;
  background: linear-gradient(45deg, var(--main-orange), var(--accent-orange));
  padding: 1.7rem 11.7rem;
  font-size: var(--fs-5);
  font-weight: 700;
  color: white;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  transition: 0.2s all;
}

.btn_orange-gradient:active {
  transform: scale(0.97);
  background: linear-gradient(75deg, var(--main-orange), var(--accent-orange));
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.btn__arrow {
  position: absolute;
  transform: translate(-50%, 50%);
  right: 23%;
}

.subheading {
  font-size: var(--fs-5);
}

.heading__secondary {
  font-size: var(--fs-2);
  font-weight: 400;
  line-height: 1.15;
}

.paragraph {
  font-size: var(--fs-7);
  letter-spacing: 0.06em;
  color: rgba(0, 0, 0, 0.75);
}

/* Header */

.header {
  background-color: rgba(244, 194, 127, 0.67);
  margin-bottom: 3.2rem;
}

/* Profile */

.profile {
  text-align: center;
  padding-top: 5.6rem;
  padding-bottom: 4.4rem;
}

.profile__img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 100%;

  border: 5px solid transparent;
  outline: 2px solid var(--accent-orange);
  margin-bottom: 1.2rem;
}

.profile__name {
  font-weight: 500;
  font-size: var(--fs-6);
}

.profile__username {
  margin-bottom: 1.2rem;
  color: var(--accent-orange);
  font-weight: 500;
}

/* Clock */

#clock-container {
  position: relative;
  margin: auto;
  height: 40vw;
  /*to make the height and width responsive*/
  width: 40vw;
  background: url("/src/assets/clock\ face.png") no-repeat;
  /*setting our background image*/
  background-size: 100%;
}

#clock-hour,
#clock-minute,
#clock-second {
  position: absolute;
  background: black;
  border-radius: 10px;
  transform-origin: bottom;
}

#clock-hour {
  width: 1.8%;
  height: 25%;
  top: 25%;
  left: 48.85%;
  opacity: 0.8;
  background: var(--accent-orange);
}

#clock-minute {
  width: 1.6%;
  height: 30%;
  top: 19%;
  left: 48.9%;
  opacity: 0.8;
  background: var(--main-orange);
}

#clock-second {
  width: 1%;
  height: 40%;
  top: 9%;
  left: 49.25%;
  opacity: 0.8;
  background: #c1c0c0;
}

.clock {
  margin-bottom: 1.5rem;
}

.clock__face {
  display: block;
  margin: 0 auto;
}

.clock__circle {
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eeeeee;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.clock__greeting {
  text-align: center;
  font-size: var(--fs-7);
  font-weight: 600;
  line-height: 1.15;
  letter-spacing: 0.06em;
  color: var(--gray);
}

/* Task List */

.task-list__section-heading {
  font-size: var(--fs-4);
  font-weight: 600;
  padding-left: 2rem;
  margin-bottom: 2rem;
}

.task-list {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  margin: 0 2.6rem;
  padding: 2.6rem 2.6rem 1.9rem 1.9rem;
  border-radius: 2.4rem;
}

.task-list__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.task-list__heading {
  font-size: var(--fs-6);
  color: var(--gray);
  line-height: 1.15;
  letter-spacing: 0.06em;
  font-weight: 400;
}

.task-list__add-btn {
  background-image: url("/src/assets/plus-circle.svg");
  background-position: center;
  width: 2.4rem;
  height: 2.4rem;
  background-color: white;
}

.task-list__complete-switcher {
  transition: 0.2s all;
}

.task-list__complete-switcher.active {
  background-color: var(--main-orange);
}

/* UNDERSTAND WHERE TO USE THIS STYLES */

.task-list__tasks {
  overflow-y: scroll;
  height: 20vh;
}

.task-list__sublist:before {
  content: attr(aria-label);
  font-size: var(--fs-6);
  font-weight: 600;
  line-height: 1.15;
  letter-spacing: 0.06em;
  color: var(--gray);
  display: block;
  margin-bottom: 1rem;
}

.sublist_completed {
  display: none;
}

/* Task */

.task {
  display: flex;
  align-items: center;
  gap: 1.1rem;
  margin-bottom: 1.8rem;
  position: relative;
}

.task_completed {
  text-decoration: line-through;
}

.task__content {
  font-size: var(--fs-7);
  line-height: 1.15;
  letter-spacing: 0.06;
  color: var(--gray);
}

.task__checkbox {
  width: 1.7rem;
  height: 1.7rem;
  accent-color: var(--accent-green);
}

.task__option-block {
  position: absolute;
  display: flex;
  gap: 1.5rem;
  right: 0;
}

.task__option-btn {
  width: 2.4rem;
  height: 2.4rem;
}

.task__delete-btn {
  background-image: url("/src/assets/delete.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.task__sure-btn_yes {
  background-image: url("/src/assets/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.task__edit-btn {
  background-image: url("/src/assets/edit.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Modal */

.modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background: #fff;
  text-align: center;
  padding: 3rem;
  width: 80%;
  border: 1px solid black;
  border-radius: 1rem;
}

.modal__header {
  display: grid;
  grid-template-columns: 90% 10%;
  margin-bottom: 2rem;
}

.modal__heading {
  font-size: var(--fs-2);
}

.modal__close {
  align-self: end;
  padding-bottom: 0.2rem;
}

.modal__input {
  display: block;
  width: 80%;
  margin: 0 auto 1.5rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.modal__input-label {
  text-align: start;
  display: block;
  width: 80%;
  margin: 0 auto 0.5rem;
  font-weight: 500;
  font-size: var(--fs-7);
}

.modal__timepicker {
  margin-bottom: 2rem;
}

.modal__submit {
  width: 50%;
  background-color: var(--accent-orange);
  color: white;
}

/* *********** AUTH *********** */

.auth__container {
  background-color: rgba(244, 194, 127, 0.67);
  text-align: center;
  padding-top: 11.6rem;
  padding-bottom: 9.6rem;
}

.auth__textbox {
  margin-bottom: 11.9rem;
  padding: 0 4.7rem;
}

.welcome__text .heading__secondary {
  margin-bottom: 2.4rem;
}

.registration__text,
.signin__text {
  display: none;
}

.registration__text .heading__secondary {
  margin-bottom: 1.3rem;
}
